.contact {

    @media @highres {
        display: flex;
        justify-content: flex-end;
        margin-top: 72px;
    
        .top-contact {
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            width: 48%;
        }
    
        img {
            width: 50%;
            height: 100%;;
        }
    
        p {
            font-size: 2rem;
        }
    }

    p {
        padding: 10px;
        text-align: center;

        a {
            text-decoration: none;
            color: @link-color;

            &hover {
                color: @btn-color;
            }
        }

        
            
    
    }
}


