header {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;

    .nav-flex {
        width: 96%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;

        a {
            width: 21%;

            @media @highres {
                max-width: 9%;
            }
        }

        img {
            width: 73%;
        }
        
        h1 {
            font-size: 3.5rem;
            font-weight: bold;

            @media @tablet {
                font-size: 8rem;
            }

            @media @highres {
                font-size: 6.5rem;
            }
             
            a {
                text-decoration: none;
                color: @font-color;
            }
        }

        .navbar {
            z-index: 2;
            position: absolute;
            right: 20px;
        }

        .navbar-toggle {
            background-color: @second-background-color;
            padding: 11px 18px;
            border: 1px solid @font-color;
            border-radius: 4px;
            font-size: 2em;
            cursor: pointer;

            @media @tablet {
                padding: 12px 24px;
            }
          }

          .dropdown-content {
            max-width: 1200px;
            width: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;  
            margin-top: 10px;
          }

          .main-nav {
            list-style-type: none;
            display: none;
            background-color: @second-background-color;
            width: 100%;
            border-radius: 4px;
        }

        .main-nav li {
            text-align: center;
            margin: 15px auto;
        }

        .nav-links {
            width: 100%;
            font-size: 1.8rem;
            text-align: center;
            text-decoration: none;
            color: @font-color; 
        }

        .active {
            display: block;
          }

          @media @highres {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }
            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }
            .main-nav li {
                margin: 0;
            }
            .nav-links {
                margin-left: 40px;
                background-color: transparent;

                &:hover {
                    border-bottom: 1px solid @link-color;
                }
            }
            .logo {
                margin-top: 0;
            }
           .navbar-toggle {
               display: none;
            }
            
          }
          
    }

    
}